parameters:
    paths:
        - src
        - tests
    level: max
    autoload_files:
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php

includes:
   - vendor/phpstan/phpstan-phpunit/extension.neon